@import '../../styles/list-view.scss';

.row {

    margin: 0;

    > .title {
        flex: 3;
    }

    > .theme {
        flex: 1
    }

    > .publish-date {
        flex: 1
    }
}

cdk-virtual-scroll-viewport {
    flex: 1
}