@import '../../core.scss';

:host {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex: 1;
        background-color: $primary-color-text;
        padding: 5px;
        max-height: 100%;
        // overflow-y: auto;
}

h4 {
        display: flex;
        justify-content: center;
    }